<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <title>Frontman_Chitter</title>
   <script type"text/javascript" src="./public/src/jquery.js"></script>
   <script type"text/javascript" src="./public/src/handlebars.js"></script>
   <!-- // <script type"text/javascript" src="public/src/get.js"></script> -->
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./public/css/main.css"/>
</head>
<body>
<div id="wrapper">
    <div id="holder">
    <header>
    <h1>Chitter</h1>
        <nav>
            <a class="button1" type="button" href="#">Home!</a>
            <a class="button1" type="button" href="#">Sign In!</a>
            <a class="button1" type="button" href="#">Sign Up!</a>
        </nav>
    </header>
    
    
    <div id="maincontent">
    <!-- <h3 class="respond"></h3> -->
    
        <!-- <section> -->
      <!--   <form>
            Greet : <input type="text" name="body" placeholder="...." id="post_submits_greet">
                    <input type="submit" value="Greet!" id="greet_button">
        </form> -->
        <!-- </section> -->
          
        <aside><h2 class="peeps">Peeps</h2>
     <p class="peeps"></p>
        
        </aside>
        
    </div>
    
    
</div>

<footer>&copy;hitter 2014</footer>
</div>

</body>
</html>
